<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://112.35.32.77:8100/appTD/scmapp/download/cmcc-1.0.45.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.cmcc.scm</string>
                <key>bundle-version</key>
                <string>1.0.45</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>中移采供</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
